.react-sticky{

  &[data-support-sticky=true]{
    position: sticky;
  }

  &[data-support-sticky=false]{
    :first-child{
      margin-top: 0;
      margin-bottom: 0;
      position: fixed;
      backface-visibility: hidden;
      transform: translateZ(0);
      width:100%;
      transition: position 0.3s;
    }

    [data-role=shadow-element]{
      opacity: 0;
      width:100%;
      position: relative;
    }
  }
}
